.instructionsBackground{
    background-color: white; 
    padding: 10px; 
    color: #0D3A54;
    
}

.instructionsBackground h2{
    text-align: center;
}

#objective{
    margin :0px auto; 
}

.gameboardImage{
    width: 100%; 
    border: 1px solid black;
    height: 300px;
}

.scoreImage{
    width: 30%; 
    border: 1px solid black;
    height: 70px;  
}

.questionImage{
    width: 30%; 
    border: 1px solid black;
    height: 70px;  
}
.instructionsBackground p {
    color: #0D3A54; 
    width: 100%;
    font-family: 'Segoe UI Black';
}