
  
.itemDescription {
    
}

.itemDescription h3{
    padding: 20px 0px; 

}

h3{
    font-family: 'Segoe UI';
    font-size: 0.9 em; 
    font-weight: bold;
}
.itemDescription p{
    color: black;
    width: 100%;
}