.scoreboard{
    color: white; 
    font-family: 'Segoe UI';
    display:flex; 
    justify-content: space-evenly;
    height: 30%;

}

h4{
 font-family: 'Segoe UI';
}

.numberEmphasis{
    color: #15863F;
    font-family: 'Segoe UI Black'; 
    font-size: 20px; 
}